## Enable PHP 5.3 in site5.com hosting
## AddHandler application/x-httpd-php53 .php

## Disable file listing
Options -Indexes

<IfModule mod_php5.c>
	php_value magic_quotes_gpc "off"
	php_value magic_quotes_runtime "off"
	php_value magic_quotes_sybase "off"
</IfModule>

<FilesMatch "^(.*)\.(tpl|sql|tmp)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<IfModule mod_headers.c>
	<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
			Header set Expires "Thu, 15 Apr 2010 20:00:00 GMT"
	</FilesMatch>
	Header unset ETag
</IfModule>
FileETag None
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault A300
	ExpiresByType application/x-javascript A3600
	ExpiresByType text/css A3600
	ExpiresByType image/gif A3600
	ExpiresByType image/png A3600
	ExpiresByType image/jpeg A3600
	ExpiresByType text/plain A300
	ExpiresByType application/x-shockwave-flash A3600
	ExpiresByType video/x-flv A3600
	ExpiresByType application/pdf A3600
	ExpiresByType text/html A300
</IfModule>
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} -f 
	RewriteCond %{REQUEST_FILENAME} ^(.+)\.css$
	RewriteRule ^(.+).css$ min/css.php?file=%{REQUEST_FILENAME} [L,QSA]
	
	RewriteCond %{REQUEST_FILENAME} !-s [NC]
	RewriteCond %{REQUEST_FILENAME} !-d [NC]
	RewriteRule ^(.+) view.php/$1 [L,QSA]
</IfModule>

ErrorDocument 404 /404.php
ErrorDocument 403 /403/
ErrorDocument 503 /503/
DirectoryIndex index.php