<?xml version="1.0" encoding="utf-8"?>
<config>
  <sitename xv-lang="SiteName">Bordeux.NET</sitename>
  <lang xv-lang="Language" xv-values-from-function="xv_langs">pl</lang>
  <catalog xv-lang="Catalog" xv-required="false">xvweb/</catalog>
  <theme xv-lang="Theme" xv-values-from-function="xv_themes">TextLonga</theme>
  <backupemail xv-lang="BackupEmail" xv-validator="regExpValidator" xv-validator-1-arg="/^[^@]+@[a-zA-Z0-9._-]+\.[a-zA-Z]+$/" xv-validator-2-arg="BadEmail">bordeux+sql@fotka.pl</backupemail>
  <indexpage xv-lang="IndexPage">/System/MainPage/</indexpage>
  <rewrite xv-values="true,false" xv-lang="ModRewrite">true</rewrite>
  <adv xv-lang="Adv" xv-values="true,false">true</adv>
  <downloadlimit xv-lang="DownloadLimit" xv-required="false" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">205</downloadlimit>
  <disable xv-lang="Disable">
		<page xv-lang="Page">
			<disable xv-values="true,false" xv-lang="Disable">false</disable>
			<method xv-values="message,redirect" xv-lang="Method">message</method>
			<url xv-lang="URL" xv-validator="regExpValidator" xv-validator-1-arg="/^(https?:\/\/+[\w\-]+\.[\w\-]+)/i" xv-validator-2-arg="BadURL">http://bordeux.net</url>
			<message xv-lang="Message" xv-type="textarea">&amp;amp;lt;h1&amp;amp;gt;Serwis tymczasowo zamknięty&amp;amp;lt;/h1&amp;amp;gt;
Zapraszamy &amp;amp;lt;b&amp;amp;gt;później&amp;amp;lt;/b&amp;amp;gt;</message>
			<allow xv-lang="AlowedIPS" xv-type="textarea">89.25.173.*</allow>
		</page>
    <write xv-values="true,false" xv-lang="Write">false</write>
    <edit xv-values="true,false" xv-lang="Edit">false</edit>
    <comment xv-values="true,false" xv-lang="Comments">false</comment>
  </disable>
  <rank xv-lang="Ranks">
    <visitor xv-lang="Quest" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-1]+$/" xv-validator-2-arg="BadRank" rank="">1100000000010000010000100000110110000000</visitor>
    <user xv-lang="User" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-1]+$/" xv-validator-2-arg="BadRank" rank="">1111110001010010100000110001110110000000</user>
    <openid xv-lang="OpenID" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-1]+$/" xv-validator-2-arg="BadRank" rank="">1111110001010010100000110001110110000000</openid>
  </rank>
  <cachelimit xv-lang="Cache">
    <article xv-lang="Article" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">600</article>
    <diffarticle xv-lang="DiffArticle" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">600</diffarticle>
    <file xv-lang="File" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">600</file>
    <articleblocked xv-lang="ArticleBlocked" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">600</articleblocked>
    <articleblockedurl xv-lang="ArticleBlockedURl" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">600</articleblockedurl>
    <articlefoo xv-lang="ArticleFoo" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">600</articlefoo>
    <plugins xv-lang="Plugins" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">6000</plugins>
    <idtourl xv-lang="IDtoURL" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">594</idtourl>
    <comment xv-lang="Comments" xv-required="false" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber"></comment>
    <getdivisions xv-lang="Divisions" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">600</getdivisions>
  </cachelimit>
  <pagelimit xv-lang="PageLimits">
    <search xv-lang="Search" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">30</search>
    <users xv-lang="Users" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">30</users>
    <notfound xv-lang="NotFound" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">30</notfound>
    <userfiles xv-lang="UserFiles" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">30</userfiles>
    <userlist xv-lang="UserList" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">30</userlist>
    <news xv-lang="News" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]+$/" xv-validator-2-arg="BadNumber">300</news>
  </pagelimit>
  <debug xv-lang="Debug">
    <ips xv-lang="IPs" xv-type="textarea">89.25.173.41
89.25.173.43</ips>
  </debug>
  <facebook xv-lang="Facebook">
    <login xv-lang="Register">
      <enable xv-lang="Enabled" xv-values="true,false">true</enable>
    </login>
    <appid xv-lang="AppID" xv-validator="regExpValidator" xv-validator-1-arg="/^[0-9]{15}$/" xv-validator-2-arg="BadFacebookID">14das04</appid>
    <secret xv-lang="Secret">0e19c60asfdafa8ee63994</secret>
    <fanpage xv-lang="FanPage">
      <enable xv-lang="Enabled" xv-values="true,false">true</enable>
    </fanpage>
  </facebook>
  <google xv-lang="Google">
    <login xv-lang="GOpenID">
      <enable xv-lang="Enabled" xv-values="true,false">true</enable>
    </login>
    <analistics xv-lang="Analystics">
      <id xv-lang="ID">UA-2103237-3</id>
    </analistics>
  </google>
  <filescloud xv-lang="FilesCloud">
    <url xv-lang="URL" xv-validator="regExpValidator" xv-validator-1-arg="/^(https?:\/\/+[\w\-]+\.[\w\-]+)/i" xv-validator-2-arg="BadURL">http://files.xvdev.pl/</url>
    <user xv-lang="User">04asdasd4d07c</user>
    <password xv-lang="Password">06sda7cd836bc</password>
  </filescloud>
  <dropbox xv-lang="Dropbox">
    <mail xv-lang="Mail" xv-validator="regExpValidator" xv-validator-1-arg="/^[^@]+@[a-zA-Z0-9._-]+\.[a-zA-Z]+$/" xv-validator-2-arg="BadEmail">backup@bordeux.net</mail>
    <password xv-type="password" xv-lang="Password">polska</password>
    <backup xv-lang="DropboxBackUp">
      <enable xv-values="true,false" xv-lang="Enabled">true</enable>
    </backup>
  </dropbox>
</config>
