
#Table .date {
width:70px;
text-align:center;
}
#Table .from  a{
color:#5583a7;
font-size:12px;
font-weight:bold;
}
#Table .from img {
margin-bottom:-2px;
}
#Table .avant {
text-align:center;
width: 160px;
vertical-align:top;
padding-right:20px;
}
#Table .avant a{
color:#5583a7;
font-size:15px;
}
#Table .topic {
padding-top:15px;
padding-bottom:5px;
font-size:9px;
color:#a3a3a3;
}
#Table .messagetxt{
	color:#473c44;
	border:1px solid #c6dfff;
}
#Table .topic a{
color:#5583a7;
font-size:14px;
font-weight:bold;
}
#Table .delete{
width:20px;
}
#Table div#MSGDate{
float:right;
color:#a3a3a3;
}
.xv-message-read{
	opacity: 0.6;
}
.xv-message-read:hover {
	opacity: 1.0;
}
#Table div#MSGDate:hover{
float:right;
color:#000;
font-weight:bold;
}
div#Replay{
	margin-top:20px;
	background:#f1f6fa;
	border: 1px solid #d5dde0;
}
div#Replay{
	margin-top:20px;
	background:#f1f6fa;
	border: 1px solid #d5dde0;
}
div#Replay div#RTitle{
	background:url(http://0.s-nk.pl/img/coolbox/21/right); 
	max-height:25px; padding-top:3px; 
	color:#282b34; font-weight:bold;
	margin-bottom:10px;
}
div#Replay input , div#Replay textarea{
	width:100%;
	border: 1px solid #d5dde0;
}
div#Replay textarea{
	min-height:230px;
}
div#RResult {
	width:80%;
	margin:auto;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}

fieldset {border: 2px solid #d5dde0;}
fieldset legend {color:#969696;}