.LightBulbTip {
	background:#FEFAE4 url(../img/lightbulb.png?noinclude=true) no-repeat right;
	border:1px solid #F6E174; 
	padding:10px;
}
.ErrorTip , .error, .failed {
	background: url(../img/cancel.png?noinclude=true) center no-repeat;
	background-position: 15px 50%;
	padding: 5px 20px 5px 45px;
	margin-bottom:20px;
	border:1px solid #FF0000;
	padding-left:120px;
	h2 {
		border-bottom: 1px solid #d33939;
	}
}
.SuccessTip , .success {
	background: #56ff56 url(../img/isuccess.png?noinclude=true) center no-repeat;
	background-position: 15px 50%;
	text-align: left;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #008c00;
	border-bottom: 2px solid #008c00;
	margin-bottom:20px;
	padding-left:140px;
	/*font-weight:bold;*/
	color: #515151;
	font-size:11px;
		h2{
			border-bottom: 1px solid #FFF;
			font-size: 20px;
			font-weight:bold;
		}
}

.formgen { 
	label{
                width:250px;
                float:left;
                font-weight:bold;
				color: black;
				font-size: 15px;
	}
	label {    
			span {
					color:red;
				}
	}
		.error {
					label{
						:hover {
							text-decoration:underline;
							cursor:pointer;
							}
					}
				}
	input{
		width:200px;
	}
	fieldset {
		legend {
			color: black;
		}
	}

}
.xv-table{
		 a:link {
			color:#d42945;
			text-decoration:none;
			border-bottom:1px dotted #ffbac8;
			}	
		 a:visited {
			color:#d42945;
			border-bottom:none;
			text-decoration:none;
			}		
		 a:hover, a:focus {
			color:#f03b58;
			border-bottom:1px solid #f03b58;
			text-decoration:none;
			}
		 a, a:link, a:visited {
				border:none;
			}						

		table {
			width:90%;
			border-top:1px solid #e5eff8;
			border-right:1px solid #e5eff8;
			margin:1em auto;
				border-collapse:collapse;
			}
		caption , .xv-table-pager {
			color: #9ba9b4;
			font-size:.94em;
				letter-spacing:.1em;
				margin:1em 0 0 0;
				padding:0;
				caption-side:top;
				text-align:center;
			}	
		tr:nth-child(odd) td	{
			background:#f7fbff;
			}
			
		 tr:nth-child(odd) .column1	{
			background:#f4f9fe;
			}
		 tr:hover	{
				background:#E9FFE3;
			}
		.column1	{
			background:#f9fcfe;
			}
		td {
			color:#678197;
			border-bottom:1px solid #e5eff8;
			border-left:1px solid #e5eff8;
			padding:.3em 1em;
			text-align:center;
			}				
		th {
			font-weight:normal;
			color: #678197;
			text-align:left;
			border-bottom: 1px solid #e5eff8;
			border-left:1px solid #e5eff8;
			padding:.3em 1em;
			}							
		 thead th {
			background:#f4f9fe;
			text-align:center;
			color:#66a3d3
			}	
		tfoot th {
			text-align:center;
			background:#f4f9fe;
			}	
		tfoot th strong {
			margin:.5em .5em .5em 0;
			color:#66a3d3;
				}		
		tfoot th em {
			color:#f03b58;
			font-weight: bold;
			font-size: 1.1em;
			font-style: normal;
			}	
}
	
	
.xv-form-gen {
	div {
		label {
		  width: 300px;
		  min-width: 300px;
		}
		:hover {
			background: #E8F6FF;
		}
	}
	input:focus, select:focus, textarea:focus{
	  background-color :  #ddd;
	}
	label{
	  text-align : left;
	  width : 150px;
	  float : left;
	  font-weight : bold;
		  .sublabel{
			  float : none;
			  text-align : left;;
			  margin-left : 210px;
			  display : block;
			  font-weight : normal;
			  
				  :hover{
					  background-color :  #555;
					}
	
			}
		span{
		  color : red;
		}
	}
	.small{
	  float : left;
	  margin-left : 10px!important;
	  width : 100px!important;
	}
}
.xv-adv {
text-align:center;
margin: 5px;
}


.xv-comment-spambot-key {
	color: #006B15;
	font-weight:bold;
}
