{
	"db_prefix" : "xv_",
	"db_name" : "xvweb2",
	"db_user" : "xvweb",
	"db_password" : "xvweb",
	"db_host" : "localhost",
	"db_exec" : "SET NAMES 'utf8' COLLATE 'utf8_bin'",
	"db_tables" : {
	   "Users":{
		  "name":"users",
		  "fields":{
			 "ID":"id",
			 "User":"user",
			 "Group":"users_group",
			 "Password":"password",
			 "Mail":"mail",
			 "Config":"config",
			 "Creation":"creation",
			 "Info":"info",
			 "Avant":"avant",
			 "IP":"ip",
			 "Theme":"theme",
			 "RegisterCode":"registercode",
			 "Views":"views",
			 "LastLogin":"lastlogin",
			 "LoginCount":"logincount"
		  }
	   },
	   "UsersAbout":{
		  "name":"users_about",
		  "fields":{
			 "User":"u_about_user",
			 "Text":"u_about_text"
		  }
	   },
	   "Bans":{
		  "name":"ban",
		  "fields":{
			 "ID":"ban_id",
			 "IP":"ban_ip",
			 "FilterType" : "ban_filter_type",
			 "Expire":"ban_expire",
			 "Message":"ban_message",
			 "By":"ban_by"
		  }
	   },
	   "Groups":{
		  "name":"groups",
		  "fields":{
			 "ID":"groups_id",
			 "Name":"groups_name",
			 "Permission":"groups_permission",
			 "Options":"groups_options"
		  }
	   },
	   "Logs":{
		  "name":"log",
		  "fields":{
			 "ID":"id",
			 "Date":"date",
			 "Type":"type",
			 "User":"who",
			 "Text":"text",
			 "IP":"ip"
		  }
	   },
	   "Messages":{
		  "name":"messages",
		  "fields":{
			 "ID":"msg_id",
			 "User":"msg_user",
			 "Receiver":"msg_receiver",
			 "Text":"msg_text",
			 "Unread":"msg_unread",
			 "Date":"msg_date",
			 "Deleted":"msg_deleted"
		  }
	   },
	   "Sessions":{
		  "name":"session",
		  "fields":{
			 "SID":"sid",
			 "IP":"ip",
			 "Value":"value",
			 "Time":"time"
		  }
	   },
	   "AuctionCategories":{
		  "name":"auction_categories",
		  "fields":{
			 "ID":"categories_id",
			 "Name":"categories_name",
			 "Title":"categories_title",
			 "Category":"categories_cat",
			 "Parent":"categories_parent",
			 "Options":"categories_options",
			 "Use":"categories_use",
			 "AlwaysShow":"categories_always_show",
			 "Depth":"categories_depth"
		  }
	   },
	   "AuctionFields":{
		  "name":"auction_fields",
		  "fields":{
			 "ID":"fields_id",
			 "Category":"fields_category",
			 "Name":"fields_name",
			 "Search":"fields_search",
			 "FieldOptions":"fields_options",
			 "SearchType":"fields_search_type",
			 "Type":"fields_type",
			 "Class":"fields_class",
			 "Priority":"fields_priority",
			 "AddPriority":"fields_add_priority"
		  }
	   },
	   "AuctionAuctions":{
		  "name":"auction_auctions",
		  "fields":{
			 "ID":"auctions_id",
			 "Category":"auctions_category",
			 "Enabled":"auctions_enabled",
			 "Views":"auctions_views",
			 "Title":"auctions_title",
			 "Type":"auctions_type",
			 "BuyNow":"auctions_buynow",
			 "Auction":"auctions_auction",
			 "AuctionMin":"auctions_auction_min",
			 "AuctionDutch":"auctions_auction_dutch",
			 "AuctionsCount":"auctions_auctions_count",
			 "Thumbnail":"auctions_thumbnail",
			 "Start":"auctions_start",
			 "End":"auctions_end",
			 "Premium":"auctions_premium",
			 "Seller":"auction_seller",
			 "Pieces":"auction_pieces",
			 "HiddenBySeller":"auction_hidden_by_seller"
		  }
	   },
	   "AuctionValues":{
		  "name":"auction_fields_values",
		  "fields":{
			 "ID":"fields_values_id",
			 "IDS":"fields_values_ids",
			 "Val":"fields_values_val",
			 "Auction":"fields_values_auction"
		  }
	   },
	   "AuctionTexts":{
		  "name":"auction_texts",
		  "fields":{
			 "Auction":"texts_auction",
			 "Name":"texts_name",
			 "Text":"texts_text"
		  }
	   },
	   "AuctionSessions":{
		  "name":"auction_sessions",
		  "fields":{
			 "Auction":"sessions_auction",
			 "Val":"sessions_val"
		  }
	   },
	   "AuctionOffers":{
		  "name":"auction_offers",
		  "fields":{
			 "ID":"offers_id",
			 "Auction":"offers_auction",
			 "User":"offers_user",
			 "Type":"offers_type",
			 "Date":"offers_date",
			 "Cost":"offers_cost",
			 "Pieces":"offers_pieces"
		  }
	   },
	   "AuctionBought":{
		  "name":"auction_bought",
		  "fields":{
			 "ID":"bought_id",
			 "Auction":"bought_auction",
			 "User":"bought_user",
			 "Seller":"bought_seller",
			 "Title":"bought_title",
			 "Cost":"bought_cost",
			 "Type":"bought_type",
			 "Pieces":"bought_pieces",
			 "Date":"bought_date",
			 "Thumbnail":"bought_thumbnail",
			 "CommentedSeller":"bought_seller_commented",
			 "CommentedBuyer":"bought_buyer_commented",
			 "HiddenForBuyer":"bought_hidden_for_buyer",
			 "Paid":"bought_paid"
		  }
	   },
	   "Payments":{
		  "name":"auction_payments",
		  "fields":{
			 "ID":"payments_id",
			 "Title":"payments_title",
			 "Amount":"payments_amount",
			 "Type":"payments_type",
			 "User":"payments_user",
			 "Date":"payments_date",
			 "Info":"payments_info",
			 "Auction":"payments_auction",
			 "UniqID":"payments_uniqid"
		  }
	   },
	   "AuctionOpinions":{
		  "name":"auction_opinions",
		  "fields":{
			 "ID":"opinions_id",
			 "Auction":"opinions_auction",
			 "Type":"opinions_type",
			 "Opinion":"opinions_opinion",
			 "Compatibility":"opinions_compatibility",
			 "Contact":"opinions_contact",
			 "Realization":"opinions_realization",
			 "Shipping":"opinions_shipping",
			 "Seller":"opinions_seller",
			 "Buyer":"opinions_buyer",
			 "User":"opinions_user",
			 "Date":"opinions_date"
		  }
	   },
	   "AuctionUsers":{
		  "name":"auction_users",
		  "fields":{
			 "ID":"users_id",
			 "Firm":"users_firm",
			 "User":"users_user",
			 "Name":"users_name",
			 "Vorname":"users_vorname",
			 "Country":"users_country",
			 "State":"users_state",
			 "City":"users_city",
			 "Zip":"users_zip",
			 "Street":"users_street",
			 "Corporation":"users_corporation",
			 "Phone":"users_phone",
			 "Date":"users_date",
			 "Confirmed":"users_confirmed",
			 "Catalog":"users_catalog"
		  }
	   },
	   "AuctionArchive":{
		  "name":"auction_archive",
		  "fields":{
			 "ID":"archive_id",
			 "Data":"archive_data"
		  }
	   },
	   "AuctionGallery":{
		  "name":"auction_gallery",
		  "fields":{
			 "ID":"gallery_id",
			 "Field":"gallery_filed_id",
			 "Auction":"gallery_auction",
			 "FileName":"gallery_file_name",
			 "FileSize":"gallery_file_size",
			 "FileType":"gallery_file_type",
			 "FileNewName":"gallery_file_new_name"
		  }
	   },
	   "Translation" : {
			"name" : "translation",
			"fields" : {
					"ID" : "tran_id",
					"Lang" : "tran_lang",
					"Key" : "tran_key",
					"Val" : "tran_val"
				}
	   },
	   "TextsIndex" : {
			"name" : "texts_index",
			"fields" : {
					"ID" : "ti_id",
					"URL" : "ti_url",
					"Parent" : "ti_parent",
					"Title" : "ti_title",
					"Blocked" : "ti_blocked",
					"Views" : "ti_views"
				}
	   },
	   "Texts" : {
			"name" : "texts",
			"fields" : {
					"ID" : "texts_id",
					"IDS" : "texts_ids",
					"Date" : "texts_date",
					"User" : "texts_user",
					"IsActual" : "texts_is_actual",
					"Content" : "texts_content",
					"Changes" : "texts_changes"
				}
	   }
	}

}