<?xml version="1.0" encoding="utf-8"?><menu>
    <main>
        <submenu title="Strona główna" link="/"/>
        <submenu title="Komputery" link="auctions/Motoryzacja/"/>
        <submenu title="Motoryzacja" link="auctions/Motoryzacja/"/>
        <submenu title="Nieruchomości" link="auctions/Nieruchomosci/"/>
        <submenu title="Telefony i akcesoria" link="auctions/Telefony_i_Akcesoria/"/>
    </main>
    <footer>
        <submenu title="Serwis">
            <url link="/">Strona główna</url>
            <url link="Simple/">Simple</url>
            <url link="Simple2/">Simple2</url>
            <url link="Simple3/">Simple3</url>
            <url link="Kontakt/">Kontakt</url>
        </submenu>
    </footer>
</menu>
