{"categories":[{"title":"Polecane","desc":"Aukcje promowane","link":"\/auctions?premium%5B3%5D=true","icon":"new.png","selected":false},{"title":"Nowe","desc":"Nowe aukcje","link":"\/auctions?sortby=start&sort=DESC","icon":"new.png","selected":true},{"title":"Ko\u0144cz\u0105ce si\u0119","desc":"Aukcje ko\u0144cz\u0105ce si\u0119","link":"\/auctions?sortby=end&sort=asc","icon":"new.png","selected":false}],"template":"top"}