.placeholder { border: 1px dotted black; visibility: visible !important; background: #a0ffa0; float:left; width:800px;}
.placeholder * { visibility: hidden; }

.table{
display: table;
}
.table-row {
display:table-row;
}
.table-cell{
display:table-cell;
}
#KeyName{
font-weight:bold;
}
#AddField{
padding-left:10px;
}

#LogHeader{
	color:#FFF;
	font-weight:bold;
	background:#328aa4 url(../img/tr_back.gif) repeat-x;
}
#LogTable
{
text-align: right;
width: 100%;
background:#FFF:
}
#LogTable .topic{
text-align: left;
padding-left:10px;
}
#TableHeader{
	color:#FFF;
	font-weight:bold;
	background:#328aa4 url(../img/tr_back.gif) repeat-x;
}
#Table{
width: 100%;
background:#FFF:
}
#Table .topic{
text-align: left;
padding-left:10px;
}
#Table .Zebra {
background: #E5F1F4;
}
.LogZebra {
background: #E5F1F4;
}

#Table .id{
width:40px;
}
#Table .ip{
width:80px;
}
#Table .edit{
width:30px;
text-align:right;
}

.xv-widget {
float:left;
position: relative;
font-size: 11px;
background:#FFF;
}

.paddingbottom {
padding-bottom:40px;
}
.xv-menu-attribute {
height:21px;
}
.xv-menu-main-name {
font-size:18px;
font-weight:bold;
}
.xv-menu-parameters {
display:none;
}
