body,html {
margin : 0px;
padding : 0px;
}
body {
font-family : Arial, Helvetica, sans-serif;
font-size : 11px;
color : #000;
background : #28b5cc url(../img/background.png) repeat-x top;
}

img {
border : 0px;
}
form {
margin : 0px;
padding : 0px;
}

a {
text-decoration : none;
color: #1e5d7a;
}
a:visited{
text-decoration : none;

}
fieldset
{
border : 1px solid #707070;
}
div#MainPage{
width : 1040px;
margin : auto;
}
hr {
clear:both;
}
header, footer, aside, nav, article {
display: block;
}
/* HEADER */
div#progressID {
background-image : url(../img/TitleBG.png);
margin: 0;
right: 0px;
top: 0px;
z-index: 10000;
position: fixed;
color: #FFF;
font-weight: bold;
padding: 3px;
display:none;
}


header div#HeaderUpMenu {
width: 1000px;
height:50px;
margin : auto;
}
header div#HeaderUpMenu div#UpMenu div#UpMenuButtons div#UMLC{
background-position  : -322px 0px;
float:left;
height:50px;
width:25px;
}
 
header div#HeaderUpMenu div#UpMenu div#UpMenuButtons div#UMBG{
background: url(../img/UpMBG.png) repeat-x;
float : left;
height:50px;
padding-top:5px;
}

header div#HeaderUpMenu div#UpMenu div#UpMenuButtons div#UMBG div{
float : left;
margin:10px;

}
header div#HeaderUpMenu div#UpMenu div#UpMenuButtons div#UMBG div a{
color: #FFF;
font-size: 15px;
font-weight:900;
text-shadow: 1px 1px 10px #000; 
}

header div#HeaderUpMenu div#UpMenu div#UpMenuButtons div#UMBG div a:hover{
color: #FFF;
text-shadow: 5px 5px 10px #000; 
}


header div#HeaderUpMenu div#UpMenu div#UpMenuButtons div#UMRC{
background-position  : -344px 0px;
float:left;
height:50px;
width:30px;
}
header div#HeaderUpMenu div#UpMenuButtons{
margin-top: -5px;
}


header div#HeaderUpMenu div#HULeftCorners{
background-position  : -331px -51px ;
float:left;
height:70px;
width:20px;
}

header div#HeaderUpMenu div#HURightCorners{
background-position  : -358px -51px;
float:right;
height:70px;
width:20px;
}


header div#HeaderUpMenu div#HUCenterBG{
float:left;
background: url(../img/UpMenuBG.png) repeat-x;
height:70px;
width:960px;
}

header div#HeaderUpMenu div#UpMenu {
margin-top:15px;
margin-left:10px;
float:left;
}

header div#HeaderUpMenu div#SearchDiv {
color : #FFFFFF;
margin-top:22px;
margin-right:10px;
float:right;
font-weight : bold;
}




header div#HeaderUpMenu div#SearchDiv input
{
font-size:10px;
width:130px;
height:13px;
background-position  : -731px -0px; 
border:none;
font-weight : bold;
padding-left:  5px;
}
header div#HeaderUpMenu div#SearchDiv input:focus
{
background-position  : -731px -16px; 
}

header div#MainHeader {
position:relative;
width: 1040px;
height:180px;
margin : auto;
}

header div#MainHeader div#LeftCorner {
background-position  : -0px 4px;
height:180px;
width: 40px;
}

header div#MainHeader div#HeaderBackground {
background:url(../img/HeaderBg.png) repeat-x;
width: 962px;
margin-left:38px;
}

header div#MainHeader div#RightCorner {
background-position  : -40px 4px;
height:180px;
width: 40px;
margin-left:962px;
}

header div#MainHeader div#Logo{
margin-left : -1000px;
width:400px;
height:180px;
}
header div#MainHeader div#Logo img{
margin-top : -115px;
}

header div#MainHeader div#RightSymbol{
background : url(../img/RightSymbol.png) no-repeat top right;
float:right;
width: 105px;
height: 105px;
margin-right : -90px;
margin-top:-70px;
}
header div#MainHeader div#LeftSymbol{
position:relative;
float:left;
width: 240px;
height: 200px;
margin-top:-100px;
margin-left:-220px;
background-position  : -80px 40px;

}

div#RightLogoPart{
float:right;
margin-top: -176px;
margin-left: -350px;
height: 176px;
width: 500px; 
background-position  : 110px -177px ;

}

div#RightLogoPart div#UserNavPre{
float:right;
}
div#RightLogoPart div#UserNavPre div#UserNavLeft {
background-position  : -322px -127px;
width:25px;
height:25px;
float:left;
}


div#RightLogoPart div#UserNavPre div#UserNavTop {
float:left;
background:url(../img/navrounderbg.png);
height:25px; 
}
div#RightLogoPart div#UserNavPre div#UserNav {
color : #ff5900;
margin-top:5px;
}
div#RightLogoPart div#UserNavPre div#UserNav a{
color: #914600;
}
div#RightLogoPart div#UserNavPre div#UserNav a:hover{
text-decoration: underline;
}

div#RightLogoPart div#UserNavPre div#UserNav  #UserNick{
font-weight:bold;
color : #ff5900;
text-decoration: underline;
}

div#RightLogoPart div#UserNavPre div#UserNavRight {
background-position  : -363px -127px;
margin-right:-1px;
width:20px;
height:25px;
float:right;
}

div#HeaderSeperator{
background : #000;
height:1px;
width: 1040px;
top:-2px;
margin : auto;
}
/* /HEADER */
/* MENU */
div#MainPage div#Menu{
float : left;
width : 140px;
}

div#MainPage div#Menu a.linkmenu {
display : block;
height : 21px;
width : 140px;
line-height : 21px;
background : transparent url(../img/link.png) no-repeat left top;
color : #FFFFFF;
font-weight : bold;
padding-left : 13px;
}
div#MainPage div#Menu a.linkmenu:hover {
background : transparent url(../img/linkoff.gif) no-repeat left top;
color : #7baded;
width : 130px;
}



div#MainPage div#Menu h1 {
color : #f7db16;
font-size : 11px;
margin: 0px;
padding : 0px;
height : 32px;
width : 140px;
line-height : 32px;
padding-left : 11px;
padding-bottom : 3px;
background : transparent url(../img/Category.png) no-repeat left;
margin-bottom : -3px;

}
/* /MENU */
div#MainPage div#Content {
float : left;
width : 891px;
background:#FFF;
margin-left: 9px;
min-height: 714px; 
}


div#MainPage div#Content div#ContentDiv {
color : #515151;
margin:10px;
}

div#MainPage div#Content div#TitleDiv{
background: url(../img/TitleBG.png);
color: #FFF;
font-weight : bold;
height:25px;
text-align:center;
padding-top : 5px;
font-size: 15px;
}

div#MainPage div#Content div#ContentDiv div#TextDiv{
/*background: #F1EEEE;*/
border: 1px #CBCBCB solid;
padding: 10px;
color : #000;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	/*font-size:11px;*/
}

/*Tabs */

div#MainPage div#EditPanel{
font-size:9px;
}

div#Footer {
margin : auto;
width:1040px;
height:83px;
background: #000;
color: #FFF;
margin-bottom:20px;
border-radius: 2px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
}

div#Footer div#PageInfo{
float: left;
margin:5px;
}
div#Footer div#FooterMenu{
float: right;
padding-top:15px;
padding-right:10px;
}
div#Footer a{
color : #FFFFFF;
font-weight:bold;
}
div#Footer a:hover {
color : #f7db16;
}


div#MainPage div#MenuBG {
background : transparent url(../img/MenuBackground.png) repeat-y left;
}

div#ResizeText
{
display: inline; 
float:right; 
margin-right:10px; 
margin-top:-20px;
}
/* MiniMap */
div#MainPage div#Content #MiniMap{
margin-top:5px;
margin-left:5px;
}
div#MainPage div#Content #MiniMap a {
color : #143B79;
}
div#MainPage div#Content div#FinallContent {

}
/* /MiniMap */
/* Table in DIV */
.tablediv {
display:  table;
}
.celldiv {
float:left;
display:  table-cell;
width:150px;
}
.rowdiv  {
display:  table-row;
}


/* /Table in DIV */

div.AjaxLayer {
position : fixed;
top : 0;
left : 0;
padding : 0;
height : 100%; 
width : 100%;
text-align:center;
padding-top:5%;
}


div#wrapper {
display: table;
margin: auto;
}

div#wrapper div#WinContent {
background: #FFF;
padding: 10px 10px;
margin-left:7px;
margin-right:7px;
}
div#wrapper div#frame-right {
background:transparent url(../img/alphacube/frame-right.gif) repeat-y scroll right top;
}
div#wrapper div#frame-left {
background:transparent url(../img/alphacube/frame-left.gif) repeat-y scroll left top;
}

div#wrapper div#top {
background: transparent ;
}

div#wrapper div#top-left {
background: url(../img/alphacube/left-top.gif) no-repeat top left;
padding-left:7px;
height: 25px;
}

div#wrapper div#top-right {
background: url(../img/alphacube/right-top.gif) no-repeat top right;
padding-right:7px;
height: 25px;
}

div#wrapper div#top-middle {
height: 25px;
background: url(../img/alphacube/top-middle.gif) repeat-x;
}
div#wrapper div#bottom{
background: transparent;
}
div#wrapper div#bottom-middle{
height: 25px;
background: url(../img/alphacube/bottom-middle.gif) repeat-x;
}
div#wrapper div#bottom-right {
background: url(../img/alphacube/bottom-right-c.gif) no-repeat top right;
padding-right:7px;
height: 25px;
}

div#wrapper div#bottom-left {
background: url(../img/alphacube/bottom-left-c.gif) no-repeat top left;
padding-left:7px;
height: 25px;
}

/* INPUT style */
.StyleForm  { 
background-color : #ebebf0;
font-family:Arial;
font-size :11px;
border:1px solid #2436e3;
}
input, textarea,select  { 
background-color : #ebebf0;
font-family:Arial;
font-size :11px;
border:1px solid #2436e3;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
input:focus, textarea:focus,select:focus  {
background: #ffe8a3; 
}

/* /INPUT style */

.TableCell
{
background:#e5f1f4;
height:30px;
}
.TableCellWhite
{
background:#FFF;
}
.TableHeaderCell{
color:#FFF;
font-weight:bold;
background:#328aa4 url(../img/tr_back.gif) repeat-x;
height:20px;
}
.TableHeaderCell a{
color:#FFF;
}
.TableHeaderCell a:hover{
color:#FFF;
text-decoration: underline;
}

/*CSS Sprite*/
 .cssprite  { 
    background    : transparent url(../img/cssprite.png) no-repeat; 
 }
.bigsprite  { 
    background    : transparent url(../img/bigsprit.png) no-repeat; 
 } 
.CommentIMG{
    height               : 18px; 
    width                : 160px; 
    background-position  : -168px -0px; 
 }
.InfoIMG{
    height               : 18px; 
    width                : 160px; 
    background-position  : -410px -0px; 
	float:left;
 }
.DocIconIMG{
    height               : 15px; 
    width                : 15px; 
    background-position  : -113px -0px; 
 }
.HTMLIconIMG{
    height               : 15px; 
    width                : 15px; 
    background-position  : -379px -0px; 
 }
.PDFIconIMG{
    height               : 15px; 
    width                : 15px; 
    background-position  : -649px -0px; 
 }
.PrintIconIMG{
    height               : 15px; 
    width                : 15px; 
    background-position  : -664px -0px; 
 }
.OpenIDIconIMG{
    height               : 15px; 
    width                : 16px; 
    background-position  : -394px -0px; 
 }
 img#AudioIconIMG{
    height               : 20px; 
    width                : 22px; 
    background-position  : -21px -0px; 
 }
 img#RefreshIconIMG{
    height               : 20px; 
    width                : 22px; 
    background-position  : -67 -0px;
 }
.DecFontIconIMG{
    height               : 15px; 
    width                : 18px; 
    background-position  : -328px -0px; 
 }
.INCFontIconIMG{
    height               : 15px; 
    width                : 18px; 
    background-position  : -346px -0px; 
 }
.SpaceIconIMG{
    height               : 6px; 
    width                : 4px; 
    background-position  : -701px -0px; 
 }
.DeleteIconIMG{ 
    height               : 16px; 
    width                : 16px; 
    background-position  : -139px -0px; 
 }
.EditIconIMG{ 
    height               : 12px; 
    width                : 11px; 
    background-position  : -128px -0px; 
} 
.LightBulbTip {
	background:#FEFAE4 url(../img/Lightbulb.png) no-repeat right;
	border:1px solid #F6E174; 
	padding:10px;
}
.ErrorTip , .error, .failed {
	background:#EF7777 url(../img/cancel.png) center no-repeat;
	background-position: 15px 50%;
	padding: 5px 20px 5px 45px;
	margin-bottom:20px;
	border:1px solid #FF0000;
	color:#000;
	padding-left:120px;
}
.ErrorTip h2, .error h2, .failed h2 {
border-bottom: 1px solid #d33939;
}
.SuccessTip h2 , .success h2 {
border-bottom: 1px solid #FFF;
}
.SuccessTip , .success {
	background: #56ff56 url(../img/isuccess.png) center no-repeat;
	background-position: 15px 50%;
	text-align: left;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #008c00;
	border-bottom: 2px solid #008c00;
	margin-bottom:20px;
	padding-left:140px;
	/*font-weight:bold;*/
	font-size:11px;
}
.FacebookLogin {
	background:url(../img/facebook.png) no-repeat right;
	height:16px;
	width:16px;
}
.LoginIMG {
	background:url(../img/login.png) no-repeat right;
	height:16px;
	width:16px;
}
.OpenIDIMG {
	background:url(../img/openid.png) no-repeat right;
	height:16px;
	width:16px;
}
.GoogleIMG {
	background:url(../img/gicon.png) no-repeat right;
	height:16px;
	width:16px;
}

.table{
display: table;
}
.table-row {
display:table-row;
}
.table-cell{
display:table-cell;
}
.reklamo{
text-align:center;
}
div#RTop{
padding-top:2px;
background:#FFF url(../img/rekbg.png) repeat-x;
text-align:center;
}
div#RFooter{
clear:both;
}
.formgen  label{
                width:150px;
                float:left;
                font-weight:bold;
}
.formgen label span{                          
                color:red;
}
            .error label:hover{
                text-decoration:underline;
				cursor:pointer;
            }
.formgen  input{
	width:200px;
}
