body {
	background: #737373 url(img/background.gif) repeat-x;
	margin: 42px 0 20px;
	}
	
#wrapper {
	width: 80%;
	margin: auto;
	}
		
#content {
	background: #FFF url(img/xvweb.png) no-repeat top left;
	padding: 20px 100px;
	margin-left:7px;
	margin-right:7px;
	min-height:500px;
	}
		

#frame-right {
	background:transparent url(img/frame-right.gif) repeat-y scroll right top;
}
#frame-left {
	background:transparent url(img/frame-left.gif) repeat-y scroll left top;
}
#logo{
	background:transparent url(img/xvweb.png) no-repeat top left;
	width:100px;
	height:20px;
}
	#top {
	background: transparent ;
		}
		
	#top-left {
		background: url(img/left-top.gif) no-repeat top left;
		padding-left:7px;
		height: 25px;
		}
	
	#top-right {
		background: url(img/right-top.gif) no-repeat top right;
		padding-right:7px;
		height: 25px;
		}
		
	#top-middle {
	height: 25px;
	background: url(img/top-middle.gif) repeat-x;
		}	
#bottom{
		background: transparent;
		}	
#bottom-middle{
		height: 25px;
		background: url(img/bottom-middle.gif) repeat-x;
		}
#bottom-right {
		background: url(img/bottom-right-c.gif) no-repeat top right;
		padding-right:7px;
		height: 25px;
		}
		
#bottom-left {
		background: url(img/bottom-left-c.gif) no-repeat top left;
		padding-left:7px;
		height: 25px;
		}
.StyleForm  { 
background-color : #ebebf0;
font-family:Arial;
font-size :11px;
border:1px solid #2436e3;
}

.StepButton { 
background-color : #ebebf0;
font-family:Arial;
font-size :11px;
border:1px solid #2436e3;
min-width:100px;
min-height:50px;
font-size: 30px;
font-weight:bold;
}

.table{
display: table;
}
.table-row {
display:table-row;
}
.table-cell{
width:100%;
display:table-cell;
}

.ImgResult1{
width:30px;
height:30px;
clear:both;
background: #BEEF77;
border:1px solid #7BBF17;
}
.ImgResult{
width:30px;
height:30px;
clear:both;
background: #EF7777;
border:1px solid #FF0000;
}

.ButtonArea{
margin:100px;
margin-left:0px;
text-align: center;
}

.Failed{
margin:30px;
width:100%;
height:50px;
background: #EF7777;
border:1px solid #FF0000;
text-align: center;
font-size: 30px;
font-weight:bold;
}
.Passed{
margin:30px;
width:100%;
height:50px;
background: #BEEF77;
border:1px solid #7BBF17;
text-align: center;
font-size: 30px;
font-weight:bold;
}
.NormalSize{
font-size: 11px;
}