<?xml version="1.0" encoding="utf-8"?><menu>
    <main>
        <submenu title="Strona główna" link="/"/>
        <submenu title="Komputery" link="/Komputery/"/>
        <submenu title="Motoryzacja" link="/auctions/Motoryzacja/"/>
        <submenu title="Nieruchomości" link="/auctions/Nieruchomosci/"/>
        <submenu title="Administracja" rank="AdminPanel">
            <url link="Administration/">Panel</url>
            <url link="Administration/Menu">Menu</url>
            <url link="Administration/Config">Config</url>
            <url link="Administration/Contents">Zawartość</url>
            <url link="Administration/FileEditor">Edytor plików</url>
            <url link="Administration/Bans">Bany</url>
            <url link="Recommended/">Polecane</url>
        </submenu>
    </main>
    <footer>
        <submenu title="Serwis">
            <url>Strona główna</url>
            <url link="News/">Aktualności</url>
            <url link="XVweb/">XVweb</url>
            <url link="Users/">Użytkownicy</url>
            <url link="Regulamin/">Regulamin</url>
            <url link="Contact/">Kontakt</url>
        </submenu>
    </footer>
</menu>
