.xvauction-main {
width: 100%;
margin:auto;
}
.xvauction-add {
float:left;
width: 75%;
}
.xauction-add-tabs {
font-size:10px;
}
.xauction-left-nav {
float:left;
width: 20%;

background: #DBDBDB;
margin-right: 10px;
}
.xauction-left-nav a{
font-size:18px;
font-weight:bold;
min-height: 35px;
border-bottom: 2px solid #E8E8E8;
display:block;
text-decoration:none;
color: #61767C;
padding-left: 10px;
padding-top: 10px;
}
.xauction-left-nav a:hover{
background: #F6FCB8;
}

.xauction-left-nav a.selected {
background: #C4C4C4;
}



.xvauction-description {
margin: 10px;
margin-right: 20px;
}
.xvauction-description-caption {
border: 1px solid #a8a8a8;
-webkit-border-top-right-radius: 30px;
-moz-border-radius-topright: 30px;
border-top-right-radius: 30px;
background: url(../img/bg-description.png);
color: #000;
height: 20px;
padding-left: 10px;
font-weight:bold;
font-size: 15px;
}
.xvauction-description-content{
border: 1px solid #a8a8a8;
border-top: none;
min-height: 400px;
}
