
.xvauction-list {
	width:500px;
	background: #F5F5F5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:left;
}
.xvauction-list  ul {
	list-style-type: none;
	max-height: 500px;
	overflow: scroll;
	overflow-x: hidden;
	min-height: 500px;
}
.xvauction-list  ul  li{
	list-style-type: none;
	margin:none;
	padding: 5px;
	padding-left: 22px;
	width:100%;
	height: 16px;
	font-size:14px;
	background: #F5F5F5 url(../img/dir_16.png)  4px 4px no-repeat ;
	cursor: pointer;
}
.xvauction-list  ul  li.to-use{
	background: #F5F5F5 url(../img/arrow_right.png)  4px 4px no-repeat ;
}
.xvauction-list  ul  li:hover {
	background-color: #FAF1AA;
}
.xvauction-list  ul  li span {
float:right;
margin-right: 30px;
display:block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 3px;
border: 1px solid #EDEDED;
}
.xvauction-main {
width: 100%;
margin:auto;
}
.xvauction-add {
float:left;
width: 75%;
}
.xauction-add-tabs {
font-size:10px;
}
.xauction-left-nav {
float:left;
width: 20%;

background: #DBDBDB;
margin-right: 10px;
}
.xauction-left-nav a{
font-size:18px;
font-weight:bold;
min-height: 35px;
border-bottom: 2px solid #E8E8E8;
display:block;
text-decoration:none;
color: #61767C;
padding-left: 10px;
padding-top: 10px;
}
.xauction-left-nav a:hover{
background: #F6FCB8;
}

.xauction-left-nav a.selected {
background: #C4C4C4;
}
.xvauction-next {
text-align:center;
padding-top: 100px;
}
.xvauction-next form input[type="submit"] {
width: 200px;
height: 40px;
}
.xvauction-next form input:disabled {
opacity: 0.5;
}
.xvauction-next form p {
padding: 5px;
}