.xvauction-index {
margin-right:270px;
border: 1px solid #CFCFCF;
background : #F2F6F7;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
min-height: 400px;
}
.xvauction-index-right {
position:absolute;
right: 1px;
padding-top: 10px;
}
.xvauction-index-category {
	width: 320px;
	height: 80px;
	color: #222;
	text-decoration: none;	
	display: block;
	
	font-family: Arial;
}
.xvauction-index-selected {
	background: url(../img/tab.png) no-repeat;
	color : #FFF;
}
.xvauction-index-category  div {
padding: 10px;
padding-left: 30px;
outline: none;
height: 60px;
}
.xvauction-index-category h3 {
	margin: 0;
	padding: 12px 0 0 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight:bold;
}
.xvauction-index-category img {
	padding: 5px;
	border: none;
	float: left;
	margin: 10px 10px 0 0;
	height : 32px;
	width: 32px;
}
.xvauction-index-item {
display: block;
float: left;
height: 130px;
width: 175px;
background-position: center center;
border: 1px solid #BFBFBF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin: 10px;
overflow:hidden;
text-decoration: none;
}

.xvauction-index-item .xvauction-index-title{
	margin-top: 113px;
	height: 17px;
	background: rgba(0,0,0, 0.7);
	color : #FFF;
	text-align:center;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;	
	transition:all 0.5s ease-in-out;
}
.xvauction-index-item:hover  .xvauction-index-title{
	margin-top: 90px;
	height: 40px;
}
.xvauction-index-cost {
position: absolute;
margin-top: 20px;
padding-right: 6px;
color: #FFF;
font-weight: bold;
}
.xvauction-index-cost div {
padding: 1px;
padding-right: 10px;

}
.xvauction-index-cost-bnow {
	background: rgba(251, 90, 0, 0.6);
}
.xvauction-index-cost-auction {
	background: rgba(145, 145,145, 0.6);
}
.xvauction-index-cost  div:first-of-type{
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}
.xvauction-index-cost  div:last-of-type{
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}