
.xvauction-sidebar {
	float:left;
	width:18%;
	min-height:600px;
}
.xvauction-sidebar-item {
padding: 5px;
padding-bottom: 20px;
padding-left: 15px;
}
.xvauction-sidebar-item-content {
	border: 1px solid #DBDEE1;
	border-top: none;
}
.xvauction-sidebar-item-title {
	background: #DBDEE1 url(../img/sidebar-title-bg.png) ;
	font-size:14px;
	font-weight:bold;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #DBDEE1;
	padding-left: 10px;
	padding-top:4px;
	height: 24px;
	color: #333;
}