.xvauction-main {
width: 100%;
margin:auto;
}
.xvauction-add {
float:left;
width: 75%;
}
.xauction-add-tabs {
font-size:10px;
}
.xauction-left-nav {
float:left;
width: 20%;
-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-topright: 20px;
-moz-border-radius-bottomright: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
background: #DBDBDB;
margin-right: 10px;
}
.xauction-left-nav a{
font-size:18px;
font-weight:bold;
min-height: 35px;
border-bottom: 2px solid #E8E8E8;
display:block;
text-decoration:none;
color: #61767C;
padding-left: 10px;
padding-top: 10px;
}
.xauction-left-nav a:hover{
background: #F6FCB8;
}

.xauction-left-nav a.selected {
background: #C4C4C4;
}
/* FORM CONTENT */
.xvauction-add-form {
}
.xvauction-add-item {
padding: 5px;
}
.xvauction-add-item:nth-child(even){
background: #F5F5F2;

}
.clear{
clear:both;
}
.xvauction-add-item .xvauction-add-name {
	width: 20%;
	float:left;
	font-weight: bold;
	padding-left: 10px;
}
.xvauction-add-item .xvauction-add-name {
	float:left;
}
.xvauction-add-item .xvauction-add-input {
	float:left;
	width: 50%;
}


.xvauction-add-name-desc{
	font-size: 8px;
	padding:0px;
	margin:0px;
	margin-top: -2px;
	font-weight: normal;
}
.xvauction-add-input-desc {
color: #717171;
padding: 2px;
margin: 3px;
font-size: 11px;
background: #EBF5FF;
border: 1px #B1D3F5 solid;
}
.xvauction-add-item-error {
border: 2px solid #ED003B;
}
.xvauction-add-input-error{
	color:#000;
	padding: 2px;
	margin: 3px;
	font-size: 11px;
	background:#EF7777;
	border:1px solid #FF0000;
}
.xvauction-add-input input {
width: 100%;
}
