
.xvauction-sidebar {
	float:left;
	width:18%;
	min-height:600px;
}
.xvauction-sidebar fieldset{
	border : 1px solid #D1D1D1;
}

.xvauction-sidebar-item {
padding: 5px;
padding-bottom: 20px;
padding-left: 15px;
}
.xvauction-sidebar-item-content {
	border: 1px solid #DBDEE1;
	border-top: none;
}
.xvauction-sidebar-item-title {
	background: #DBDEE1 url(../img/sidebar-title-bg.png) ;
	font-size:14px;
	font-weight:bold;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #DBDEE1;
	padding-left: 10px;
	padding-top:4px;
	height: 24px;
	color: #333;
}

.xvauction-sidebar-search {
	width: 95%;
	padding: 5px;
}
.xvauction-sidebar-search input[type="search"]{
width: 95%;
margin:auto;
height: 30px;
padding: 5px;
line-height: 30px;
display:block;
background: #F2F2F2;
}
.xvauction-sidebar-search input[type="submit"]{
width: 100%;
margin:auto;
margin-top: 5px;
height: 30px;
padding: 5px;

display:block;
}